@charset "UTF-8";
/* CSS Document */

body {
	overflow-y:scroll;
}

.reveal img,
.reveal section img {
	max-width:100%;
	max-height:none;
	margin:0 0 30px 0;
}

				
.reveal .slides>section,
.reveal .slides>section>section {
	padding:0px;
}

.navigate-up,
.navigate-down {
	display:none;
}